@charset "utf-8";

/*foundation*/
@import "foundation/initialize.css";
@import "foundation/properties.css";
@import "foundation/mixin.css";
@import "foundation/init.css";
@import "foundation/util.css";
/*layout*/
@import "layout/header.css";
@import "layout/footer.css";
/*bootstrap*/
@import "foundation/bootstrap.min.css";


/*  */
body {
    letter-spacing: 1px;
}
/* awesome icon */
.fa {
    line-height: 2px;
}

/* jumbotron slide for top page */
.jumbotron {
    margin-top: -68px;
    background: #fff;
    .carousel {
        .carousel-inner {
            .item {
                img {
                    width: 100%;
                }
            }
            
        }
    }

}